In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("results.csv")

In [3]:
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45095,2023-10-17,Lithuania,Hungary,2,2,UEFA Euro qualification,Kaunas,Lithuania,False
45096,2023-10-17,Finland,Kazakhstan,1,2,UEFA Euro qualification,Helsinki,Finland,False
45097,2023-10-17,Northern Ireland,Slovenia,0,1,UEFA Euro qualification,Belfast,Northern Ireland,False
45098,2023-10-17,San Marino,Denmark,1,2,UEFA Euro qualification,Serravalle,San Marino,False
45099,2023-10-23,United Arab Emirates,Kuwait,1,0,Friendly,Dubai,United Arab Emirates,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45100 entries, 0 to 45099
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        45100 non-null  object
 1   home_team   45100 non-null  object
 2   away_team   45100 non-null  object
 3   home_score  45100 non-null  int64
 4   away_score  45100 non-null  int64
 5   tournament  45100 non-null  object
 6   city        45100 non-null  object
 7   country     45100 non-null  object
 8   neutral     45100 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.8+ MB

In [5]:
df.describe()

         home_score    away_score
count  45100.000000  45100.000000
mean       1.739601      1.177982
std        1.746247      1.392395
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [8]:
df["away_team"].value_counts()

away_team
Uruguay          564
Sweden           550
England          528
Hungary          494
Paraguay         477
                ...
Central Spain      1
Biafra             1
Corsica            1
Aymara             1
Manchukuo          1
Name: count, Length: 307, dtype: int64

In [9]:
df["away_team"].value_counts().max()

564

In [13]:
df["home_score"].value_counts()

home_score
1     13371
0     10894
2      9900
3      5285
4      2743
5      1302
6       708
7       382
8       206
9       125
10       66
11       36
12       27
13       16
14       11
15        8
16        6
19        3
17        3
21        2
30        1
24        1
18        1
20        1
22        1
31        1
Name: count, dtype: int64

In [14]:
df["home_score"].value_counts().max()

13371

In [16]:
df["away_score"].value_counts()

away_score
0     16805
1     14602
2      7814
3      3316
4      1380
5       571
6       289
7       144
8        71
9        36
10       25
12        8
13        7
11        7
15        6
18        5
16        3
20        3
17        3
14        2
19        2
21        1
Name: count, dtype: int64

In [17]:
df["away_score"].value_counts().max()

16805

In [ ]:
df[["home_"]]